---
name: Moduli merging workflow
on:
  workflow_dispatch:
  schedule:
    - cron: "30 4 * * */6"
permissions:
  contents: read
jobs:
  Generate:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Set current date as env variable
        run: echo CURRENT_DATE=$(date +'%Y%m%d') >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.head_ref }}

      - name: Install openssh-client
        run: |
          sudo apt-get update
          sudo apt-get install --assume-yes openssh-client

      - name: Generate moduli file
        run: |
          set -eu -o pipefail
          curl -fsSL "https://raw.githubusercontent.com/openssh/openssh-portable/master/moduli" | grep -v '^#' > /tmp/moduli.tmp
          curl -fsSL "https://cvsweb.openbsd.org/cgi-bin/cvsweb/~checkout~/src/usr.bin/ssh/moduli-gen/moduli.{4096,6144,7680,8192}" >> /tmp/moduli.tmp
          echo "# Generated at ${{ env.CURRENT_DATE }} from ${{ github.repositoryUrl }}" > ./moduli
          echo "# Timestamp Type Tests Trials Size Generator Modulus" >> ./moduli
          awk '$5 >= 4096' /tmp/moduli.tmp | grep -vE '^$|#'| sort -u >> ./moduli
          rm -v /tmp/moduli.tmp
          head -n5 ./moduli

      - name: Verify moduli file
        run: |
          set -eu -o pipefail
          grep -vE '^#|^$' moduli | shuf -n10 | ssh-keygen -M screen /tmp/mod.test
          grep "$(shuf -n5 /tmp/mod.test | awk '{print $NF}')" moduli || {
            echo "Moduli file verification failed"
            exit 1
          }

      - name: Upload moduli artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: moduli
          path: ./moduli

      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: Updated moduli file - ${{ env.CURRENT_DATE }}
